:root {
  --main-background: #f5f5f5;
  --brand-background: #2f303a;
  --second-background: #f5f4fa;
  --brand-font-color: #212121;
  --focus-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --black-color: #000000;
  --color-rgba: rgba(255, 255, 255, 0.6);
  --hover-hero-btn-color: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-font-color);
  background-color: var(--white-color);
  font-size: 14px;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
  line-height: 1.17;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo span:last-child {
  color: var(--black-color);
}

.logo:first-child,
.footer-logo:first-child {
  color: var(--focus-color);
}

.list {
  list-style: none;
}

.header-nav-link {
  color: var(--brand-font-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
}

.header-contacts-link {
  color: var(--grey-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--focus-color);
}

/* footer */

.footer {
  background-color: var(--brand-background);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo span {
  color: var(--white-color);
}

.address-link {
  font-style: normal;
  text-decoration: none;
  color: var(--color-rgba);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.google-link {
  color: var(--white-color);
}

.contact-link:hover,
.contact-link.address-link:focus {
  color: var(--focus-color);
}

.current {
  color: var(--focus-color);
}

/* main studio */
/* hero */

.hero {
  background-color: var(--brand-background);
  align-items: center;
}

.hero-title {
  color: var(--white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.hero-btn {
  background-color: var(--focus-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  height: 30px;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-hero-btn-color);
  color: var(--white-color);
  cursor: pointer;
}

/* advantages */

.advantages-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.advantages-text {
  color: var(--grey-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* solutions + team */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  background-color: var(--second-background);
}

.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list-text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* main portofolio */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.projects {
  background-color: var(--white-color);
}

.projects-list-btn {
  font-family: inherit;
  background-color: var(--second-background);
  color: var(--brand-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
}

.projects-list-btn:hover,
.projects-list-btn:focus {
  color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--focus-color);
  cursor: pointer;
}

.projects-list-item {
  border: 1px solid #eeeeee;
}

.projects-item-link {
  text-decoration: none;
}

.projects-text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects-title {
  color: var(--brand-font-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
